[submodule "libs/factory/bootstrap"]
	path = libs/factory/bootstrap
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-bootstrap/
[submodule "libs/factory/core"]
	path = libs/factory/core
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-core/
[submodule "libs/factory/forms"]
	path = libs/factory/forms
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-forms/
[submodule "libs/factory/metaboxes"]
	path = libs/factory/metaboxes
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-metaboxes/
[submodule "flibs/actory/notices"]
	path = libs/factory/notices
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-notices/
[submodule "libs/factory/pages"]
	path = libs/factory/pages
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-pages/
[submodule "libs/factory/shortcodes"]
	path = libs/factory/shortcodes
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-shortcodes/
[submodule "libs/factory/types"]
	path = libs/factory/types
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-types/
[submodule "libs/factory/viewtables"]
	path = libs/factory/viewtables
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-viewtables/

[submodule "libs/onepress/compiler"]
	path = libs/onepress/compiler
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-compiler/
[submodule "libs/onepress/licensing"]
	path = libs/onepress/licensing
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-licensing/
[submodule "libs/onepress/updates"]
	path = libs/onepress/updates
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-updates/
[submodule "libs/factory/font-awesome"]
	path = libs/factory/font-awesome
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-font-awesome
[submodule "libs/onepress/api"]
	path = libs/onepress/api
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-api
	
[submodule "libs/factory/notices"]
	path = libs/factory/notices
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-notices/
